* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Bhaina 2";
}

body {
  background: linear-gradient(
    136.31deg,
    #0c0f07 14.16%,
    #1f102b 53.39%,
    #23193e 82.63%
  );
  height: 100vh;
  width: 100vw;
}

#logo {
  margin-left: 3rem;
  width: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8em;
}

    ul {
      display: flex;
      list-style: none;
      color: #fff;
    
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bold;

      margin-right: 5rem;
    }
    
    ul li {
      margin-right: 3rem;
      cursor: pointer;
    }

    ul li:hover{
      text-decoration: underline;
      color:rgba(159, 127, 219, 0.8);
      transition: all 1s ease;
    }

section {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}

    #form-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    #form-area h1 {
      color: rgba(159, 127, 219, 0.8);
      font-style: normal;
      font-weight: 700;
      font-size: 4em;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
    }
    
    form {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    form input {
      background: #9f7fdb;
      height: 4em;
      width: 25em;
      
      color: #fff;
      font-size: 1rem;
      text-indent: 1em;

      border-radius: 10px;
      border: 0;
    }
    
    form input::placeholder {
      color: #fff;
      text-indent: 1em;
      font-size: 1rem;
    }

    .buttons {
      margin-top: 1rem;
      display: flex;
    }

    button {
      font-weight: bold;
      font-size: 1.5rem;
      letter-spacing: 0.03em;
      color: #e9e1fd;
      padding: 1rem 2rem;
      border-radius: 10px;
      margin-right: 4rem;
      cursor: pointer;
    }

    #buttonOne {
      background: #7834f3;
    }

    #buttonOne:hover {
      background: #9f7fdb;
      transition: all 1s ease-in-out;
    }

    #buttonTwo {
      background: #9f7fdb;
    }

    #buttonTwo:hover {
      background: #7834f3;
      transition: all 1s ease-in-out;
    }

    .campo-form {
      margin-bottom: 3rem;
    }

    .verificar {
      display: none;
      color: red;
      height: 0;
      font-size: 0.8em;
    }

    .verificarCadastro {
      display: none;
      color: red;
      height: 0;
      align-self: center;
      margin-top: 0.5rem;
    }

    #rocket{
        width: auto;
    }

@media only screen and (max-width: 900px) {
  body{
    height: auto;
}

  nav{
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }

  nav ul{
    font-size: 1.5em;
    margin: 0;
  }

  nav ul li{
    margin-right: 0.8em;
  }

  section {
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
  }

  #form-area{
    width: 100%;
  }

  #form-area h1{
    font-size: 3em;
  }

  .campo-form{
    margin-bottom: 1.5em;
  }

  .buttons{
    flex-direction: column;
  }

  button{
    margin: 1rem 0;
  }

  #rocket{
    align-self: center;
    width: 80vw;
  }
}

@media only screen and (max-width: 1200px) {
  body{
    height: auto;
  }

  section {
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
  }

  button{
    margin: 1rem 0;
  }

}